<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/{{JS_FOLDER}}/stylesheet.css" />
</head>
<body>
  <div id="app__container"></div>
  <script src="/{{JS_FOLDER}}/app.js"></script>
</body>
</html>
